html {
  background: #018ded url(../images/881-1500x1000-blur_5.jpg);
  background-size: cover;
  font-family: "helvetica neue", Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border: 20px solid white;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
  padding: 2rem;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #efefef,
    inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  /* the origin dictates where the transform occurs
  50% is the default, which is the middle
  100% causes rotation from the right end (center of clock) */
  transform-origin: 100%;
  /* positions the hands at the 12 spot by default */
  transform: rotate(90deg);
  /* caused the transition to happen over 0.5s */
  transition: all 0.05s;
  /* using this bezier causes it to go a bit past its bounds and snap back
  this gives it a more realistic feel
  it can be played with easily in dev tools */
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

/* my own adjustments to make the hands stand out */
.second-hand {
  height: 3px;
}

.min-hand {
  height: 4.5px;
}

.hour-hand {
  width: 35%;
  left: 15%;
}

.no-transition {
  transition: none;
}

/* positioning for hours on the clock */
.time {
  position: absolute;
  font-size: 26px;
  font-weight: bolder;
  color: black;
}

#one {
  right: 23%;
  top: 4%;
}

#two {
  right: 4%;
  top: 21%;
}

#three {
  right: -3%;
  top: 45%;
}

#four {
  right: 4%;
  top: 71%;
}

#five {
  right: 23%;
  top: 89%;
}

#six {
  right: 48%;
  top: 95%;
}

#seven {
  right: 72%;
  top: 88%;
}

#eight {
  right: 91%;
  top: 70%;
}

#nine {
  right: 97%;
  top: 45%;
}

#ten {
  right: 86%;
  top: 22%;
}

#eleven {
  right: 70%;
  top: 5%;
}

#twelve {
  right: 45%;
  top: -2%;
}
